*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*Serve para que os inputs não ultrapassem a área máxima da div a quais eles estão.*/
  font-family: 'Open Sans', sans-serif;
}

html, body, #root{
  background-color: #efefef;
  height: 100%; /*Ajuda a ter conteúdo par manter o rodapé (Footer) colado no fim da página.*/
}
